<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.front.attractionMapper">

    <!--将attraction表从第一条记录开始，共检索10条记录-->
    <select id="getBeginSomeInfo" resultType="com.entity.Attraction">
        select * from attraction limit 0,10
    </select>

    <select id="getAllTypesInfo" resultType="java.lang.String">
        select atype from attraction
    </select>

    <select id="getAllInfoByType" resultType="com.entity.Attraction">
        select * from attraction where atype=#{atype}
    </select>

    <select id="getSomeByQueryCity" resultType="com.entity.Attraction">
        select * from attraction where acity=#{acity}
    </select>

</mapper>
