<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RoomMapper">
    <update id="setRoomState">
--                 表示有人住了
            update room set rstate=0 where rid=#{rid};
    </update>
    <update id="setRoomState1">
        update room set rstate=1 where rid=#{rid};
    </update>
    <select id="selectRoomByRid1" resultType="com.entity.Room">
        select * from room where rid=#{rid};
    </select>
</mapper>